<%- include('partials/header') %>

<main  class="main-content index_container">
    <h1>You got it right!!</h1>
    <h2>Your current streak is: <%= currentStreak%> </h2>

    <div class="navigation__container">
        <a href="/leaderboards">
            View Leaderboards
        </a>
        <a href="/quiz">
            Go Again
        </a>
        <a href="/">
            Home
        </a>
    </div>




    </body>
    </html>
</main>