<%- include('partials/header') %>

<main  class="main-content index_container">
    <h1 style="color:rgb(179, 40, 35);">YOU GOT IT WRONG!!!!!!!!!!!!</h1>
    <h2>Your current streak is: 0</h2>

    <div class="navigation__container">
        <a href="/leaderboards">
            View Leaderboards
        </a>
        <a href="/quiz">
            Go Again
        </a>
    </div>




    </body>
    </html>
</main>