<%- include('partials/header') %>

<main class="main-content index_container">
    <h1>dis da leaderboar!</h1>
        <ol>
            <% leaderboard.forEach(i => { %>
                <li>Points: (<%= i.currentStreak %>) At - (<%= i.time %>)</li>
            <% }) %>
                
        </ol>
    <div class="navigation__container">
        <a href="/quiz">
            Play Quiz
        </a>
    </div>



    </body>
    </html>
</main>